---
- name: Add SSH banner
  ansible.builtin.copy:
    src: "{{ sshd_banner }}"
    dest: /etc/ssh/banner
    owner: root
    group: root
    mode: "0644"
  notify:
    - sshd

- name: Configure sshd
  ansible.builtin.template:
    src: sshd_config
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: "0644"
    validate: "/usr/sbin/sshd -T -f %s"
  notify:
    - sshd

- name: Create _sshd_keyuser
  ansible.builtin.user:
    name: _sshd_keyuser
    state: present
    system: true
    createhome: false
  when: sshd_AuthorizedKeysCommand is defined
