# See the sshd_config(5) manpage for details

{% if sshd_listen_addresses is defined %}
{% for address in sshd_listen_addresses %}
ListenAddress {{ address }}
{% endfor %}
{% endif %}

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

Ciphers {{ sshd_Ciphers | join(",") }}
KexAlgorithms {{ sshd_KexAlgorithms | join(",") }}
MACs {{ sshd_MACs | join(",") }}

Subsystem sftp /usr/libexec/sftp-server
PermitRootLogin no

Banner /etc/ssh/banner

UsePAM {{ sshd_usepam | ternary("yes", "no") }}

{% if sshd_AuthorizedKeysCommand is defined %}
AuthorizedKeysCommandUser _sshd_keyuser
AuthorizedKeysCommand {{ sshd_AuthorizedKeysCommand }}
{% endif %}

AuthenticationMethods {{ sshd_AuthenticationMethods | join(",") }}
{% if sshd_AuthorizedKeysFile %}
AuthorizedKeysFile %h/.ssh/authorized_keys
{% endif %}

{% if sshd_AllowGroupsAlways is defined %}
{% for group in sshd_AllowGroupsAlways %}
AllowGroups "{{ group }}"
{% endfor %}
{% endif %}
{% if sshd_AllowGroups is defined %}
{% for group in sshd_AllowGroups %}
AllowGroups "{{ group }}"
{% endfor %}
{% endif %}
