# See the sshd_config(5) manpage for details

AddressFamily inet

{% if sshd_listen_addresses is defined %}
{% for address in sshd_listen_addresses %}
ListenAddress {{ address }}
{% endfor %}
{% endif %}

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key

Ciphers {{ sshd_Ciphers | join(",") }}
KexAlgorithms {{ sshd_KexAlgorithms | join(",") }}
MACs {{ sshd_MACs | join(",") }}

UsePrivilegeSeparation sandbox
Subsystem sftp /usr/libexec/sftp-server
PermitRootLogin no

Banner /etc/ssh/banner

UsePAM yes

AuthenticationMethods {{ sshd_AuthenticationMethods | join(",") }}
AuthorizedKeysFile %h/.ssh/authorized_keys
